
@import 'pxmixins.less';


body {
  background-image: url('techdraw.png');
}

.canvas-container {
  @media only screen and (min-width : 980px) {
    margin-top: 70px;
  }

  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

.canvas {
  width: 440px;
  height: 330px;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1031;
}

.snakegameinfo {
  margin: 5px;
}