
{namespace px.game.snakegameinfo}

/**
 * @param score
 * @param highScore
 */
{template .main}
  <div class="snake-game-info">
    <span class="label label-inverse">Score: {$score}</span>
    &emsp;
    <span class="label label-success">High Score: {$highScore}</span>
  </div>
{/template}
