
{namespace px.game.snakegameinfo}

/**
 * @param score
 * @param highScore
 */
{template .main}
  <span class="btn btn-success btn-play">Play</span>
  &emsp;
  <span class="btn btn-warning btn-pause">Pause</span>
  &emsp;
  <span class="btn btn-danger btn-restart">Restart</span>
  &emsp;
  <span class="label label-inverse">Score: {$score}</span>
  &emsp;
  <span class="label label-info">High Score: {$highScore}</span>
{/template}
